img{
 max-width:450px;
 max-height: 500px;
 
}
/* 
figure img,figcaption{
    border:1px solid blue;
    color:red;
} */

body{
    margin-left:2%;
}
.language-console{
    color:blue;
}
figure{
border:1px dashed red;
padding:0.2%;
/* margin-left: -5px; */

}